# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# MLflow
mlruns/
mlartifacts/
outputs/
artifacts/
plots/

# Environment
.env

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Large files
*.pkl
*.h5
*.model
